#input-page{
  text-align:center;
}

#top-font{
  font-size: 1.2rem;
}

#user-name{
  font-size: 1rem;
}

/* .label-amount{
  width: 30%;
} */

.amount-input{
  width:60%;
}

.account-selector{
  width:60%;
}

.date-selector{
  width:20%;
}

.label-amount{
  width:25%;
  text-align:right;
}
.label-account{
  width:25%;
  text-align:right;
}
.label-date{
  width:25%;
  text-align:right;
}

/* お支払いページ */

#payment-page{
  margin: 0 0.5rem;
}

.div-center{
  text-align: center;
}

.div-right{
  text-align: right;
}

.pay-button{
  width: 40%;
}

.p-menu{
  margin-bottom: 0;
}

.menu-contents{
  margin-bottom: 2rem;
}

.mail-post-button{
  font-size: 0.7rem;
}

/* 支払成功ページ */

#paid-success-page{
  text-align: center;
}