<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div id="input-page">
        <p class="top-font">会計データ入力</p>
        <p id="user-name"></p>
    </div>

    <%- include ("../partials/footer.ejs") %>
    <script src='js/main.js'></script>
</body>
</html>