<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div id="input-page">
        <p id="top-font">会計データ入力</p>
        <p id="user-name"></p>
        <p id="test-display1"></p>
        <p id="test-display2"></p>
        <p id="test-display3"></p>
        <p id="test-display4"></p>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <!-- liffを使うためのCDN -->
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src='js/main.js'></script>
</body>
</html>