<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div id="input-page">
        <p id="top-font"></p>
        <!-- <p id="user-name"></p> -->
    </div>

    <%- include ("../partials/footer.ejs") %>

    <!-- liffを使うためのCDN -->
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src='js/main.js'></script>
</body>
</html>