<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src='js/payment.js' defer></script>
</head>
<body>
    <div id="payment-page">
    </div>

    <%- include ("../partials/footer.ejs") %>
    <!-- liffを使うためのCDN -->
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</body>
</html>