<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Checkout Sample</title>
    <meta name="description" content="A demo of Stripe Payment Intents" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="js/settlement.js" defer></script>
  </head>

  <body>
    <div class="togethere-background"></div>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <h1>料金プランを選んでください</h1>

        <div class="price-table-container">
          <section>
            <img
              src="/img/starter.png"
              width="120"
              height="120"
            />
            <div class="name">日ごと課金</div>
            <div class="price">¥5</div>
            <div class="duration">per day</div>
            <button id="basic-plan-btn">Select</button>
          </section>
          <section>
            <img
              src="/img/professional.png"
              width="120"
              height="120"
            />
            <div class="name">月ごと課金</div>
            <div class="price">¥100</div>
            <div class="duration">per month</div>
            <button id="pro-plan-btn">Select</button>
          </section>
        </div>
      </div>
    </div>
    <div id="error-message" class="error-message"></div>
  </body>
</html>